[connections.snowflake]
account = "your-account"
user = "your-user"
password = "your-password"
role = "PRODUCER_DATASCIENCE_ROLE"
warehouse = "SNOWFLAKE_LEARNING_WH"
database = "TEAM_DATASCIENCE"
schema = "MVIP"
